<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <!-- Include the test assembly itself so coverlet collects coverage for injected polyfill sources -->
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <IncludeTestAssembly>true</IncludeTestAssembly>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
